test_repository_git/src/main/mule/test_repository_git.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cbdd03b8-be5d-4b67-8dd2-4ebce1d45d45" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test_repository_gitFlow" doc:id="2a11c21f-49f7-4743-94e8-ef1f058483a3" >
		<http:listener doc:name="Listener" doc:id="aeb118ac-dfad-4dc5-add4-a326e27d3502" config-ref="HTTP_Listener_config" path="/testrepository"/>
		<set-payload value="Myfirst repository commit" doc:name="Set Payload" doc:id="d788f947-2a37-45cb-aef3-031d31de735e" />
		<logger level="INFO" doc:name="Logger" doc:id="ac38d269-708c-463a-91ab-1f8e4ee5c7c8" message="#[payload]"/>
	</flow>
</mule>
